body {
  background: black;
  margin: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  row-gap: 50px;
}
#newbookform {
  background: white;
  border: 1px solid #d1d5db;
  height: 400px;
  width: 400px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  letter-spacing: 2px;
  font-size: small;
  border-radius: 10px;
  /* font-weight: bold; */
}
.text {
  background: #d1d5db;
  border: none;
  height: 20px;
  width: 300px;
  border-radius: 5px;
}
#submit {
  background: #0e7490;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: white;
  font-size: small;
}
#library {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 20px;
}
.books {
  background: whitesmoke;
  border: 4px solid #e9d416;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
}
.read-status {
  display: flex;
  background: #0c4f57;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  font-size: small;
}
.rm-btn {
  display: flex;
  background: rgb(157, 23, 23);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 30px;
}

.toggle-read {
  background: black;
  color: white;
  border-radius: 5px;
  height: 30px;
  font-size: small;
}

.buttons {
  display: grid;
  row-gap: 5px;
}
.title {
  color: #0e7490;
}
